#CheckOut {

  #showUserCart {
    .checkout-productBox {
      display: flex;
      header {
        .checkout-productImg {
          height: 4em;
        }
      }
      aside {
      }
      footer {
      }
    }
  }
  #buyButton{
      background-color: green;
  }
}
