#welcomeBanner{
    margin-top:2%;
    margin-left:auto;
    margin-right:auto;
   height:10vh;
    width:85%;
    background-image:url('../../public/img/banner.jpg');
       background-size: cover;
       background-position: center;

}