#navBar{
    display:flex;
    height:5vh;
    border-style:solid;
    border-width:1px;
    align-items:center;
    justify-content: center;
    text-align: center;
    #companyLogo{ // Goodys
       width:12%;
        font-size:1.2em;
    }
#navBarTop{
    display:flex;
    margin-left:auto;
    width:88%;
    main{
        display:flex;
        width:45%;
        margin-left:3%;
        input{
            height:90%;
            width:100%;
        }
        button{
            width:4em;
            height:3.2em;
     
        }
    }
    aside{
       
        margin-left:auto;
        display:flex;
        justify-content: center;
        align-items: center;
        width:30%;
     
       a:link{
           text-decoration: none;
       }
            
        div{
            display:flex;
              justify-content: center;
             align-items: center;
            cursor: pointer;
            border-style:solid;
            border-width:1px;
            height:2em;
            min-width:6em;
        }
        a:hover div{
            background-color: rgba(128, 128, 128, 0.288);
        }
     
    #shoppingCartNav{
        
        position: relative;
        display: inline-block;
        
    }
    .mini-productBox{
        display:none;
        height:auto;
        flex-direction: row;
        justify-content: center;
        background-color:gainsboro;
        button{
            width:2em;
            height:2em;
            i{
                pointer-events: none
            }
        }
        }
    #shoppingCartHover{
        min-width:6em;
        height:auto;
        display: none;
        position: absolute;
    }
   
   

    #shoppingCartNav:hover{
        .mini-productBox{
            display:flex;
            }
        #shoppingCartHover{
            display:block;
            background-color: ghostwhite;
        }
       
    }
    }
    
}}
