#navBar{
    display:flex;
    border-style:solid;
    border-width:1px;
    align-items:center;
    justify-content: center;
    text-align: center;
    #companyLogo{ // Goodys
       width:12%;
        font-size:1.2em;
    }
#navBarTop{
    display:flex;
    margin-left:auto;
    width:88%;
    main{
        display:flex;
        width:45%;
        margin-left:3%;
        input{
            height:80%;
            width:100%;
            margin-right:5%;
        }
        button{
            width:4em;
            height:3.2em;
            background-color:rgba(255, 255, 255, 0);
        }
    }
    aside{
       
        margin-left:auto;
        display:flex;
        justify-content: center;
        align-items: center;
        width:30%;
        flex-wrap:wrap;
       a:link{
           text-decoration: none;
       }
            
        div{
            display:flex;
              justify-content: center;
             align-items: center;
            cursor: pointer;
            border-style:solid;
            border-width:1px;
            height:2em;
            min-width:6em;
        }
        a:hover div{
            background-color: rgba(128, 128, 128, 0.288);
        }
     
    #shoppingCartNav{

        display:flex;
        flex-direction: column;
        height:auto;
    }
    #shoppingCartHover{
        display:none;
    }
    #shoppingCartNav:hover {
        #shoppingCartHover{
        display:block;
            
    }
        .mini-productBox{
           
        }
    }
   
    }
    
}}
