#navBar{
    display:flex;
    height:5vh;
    align-items:center;
    justify-content: center;
    text-align: center;
    
    #companyLogo{ // Goodys
       width:10%;
        font-size:1.2em;
    }
#navBarTop{
    display:flex;
    margin-left:auto;
    width:88%;
    main{
        display:flex;
        width:45%;
        margin-left:15%;
        input{
            height:60%;
            width:100%;
        }
        button{
            height:80%;
        }
    }
    #navBarTopRight{
      
        margin-left:auto;
        display:flex;
        // justify-content: center;
        align-items: center;
       
  
       a:link{
           text-decoration: none;
       }
            
        .navBarButton{
            display:flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height:2em;
            min-width:6em;
        }
    #myAccount{
        position: relative;
        display: inline-block;
        p{
           margin-top:auto;
           margin-bottom:auto;
        }
        #loginForm{
            cursor: default;
            height:auto;
            display: none;
            position: absolute;
            flex-direction:column;
            background-color:rgb(202, 197, 197);
            width:10em;
            h3{
               
                margin-right:auto;
                margin-left:5%;
            }
            input{
                width:80%;
            }
            input::placeholder{
                font-size:0.85em;
            }
            #loginFormOptionBox{
                margin-top:20%;
                display:flex;
                flex-direction:column;
                align-items:flex-start;
                #loginButton{
                    margin-left:5%;
                    margin-top:-15%;
                }
            aside{
                display:flex;
                flex-direction:row;
                align-items:flex-start;
                button{
                margin-top:3%;
                font-size:0.7em;
                text-align:start;
                }
            }
         
            }
        }
    }
    #wishlist{
        position: relative;
        display: inline-block;
    }
    #wishlistHover{
        min-width:6em;
        height:auto;
        display: none;
        position: absolute;
        background-color: ghostwhite;
    }
    .mini-wishBox{
        display:none;
        height:auto;
        flex-direction: row;
        justify-content: center;
        background-color:gainsboro;
        button{
            width:2em;
            height:2em;
            i{
                pointer-events: none
            }
        }
        }
    #wishlist:hover{
        #wishlistHover{
            display:block;

        }
        .mini-wishBox{
            display:flex;
        }
    }
    #shoppingCartNav{
        position: relative;
        display: inline-block;
    }
    .mini-productBox{
        display:none;
        height:auto;
        flex-direction: row;
        justify-content: center;
        background-color:gainsboro;
        button{
            width:2em;
            height:2em;
            i{
                pointer-events: none;
            }
        }
        }
    #shoppingCartHover{
        min-width:6em;
        height:auto;
        display: none;
        position: absolute;
    }
   
   

    #shoppingCartNav:hover{
        .mini-productBox{
            display:flex;
            }
        #shoppingCartHover{
            display:block;
            background-color: ghostwhite;
        }
       
    }
    }
}}
